<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<h:outputScript library="js" name="prime-faces_locale_ptBR.js"/>
		<title>Calendário 7</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário com efeito Explode" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
					effect="explode"/>
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário com efeito Fold" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
					effect="fold" effectDuration="fast"/>
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário com efeito Drop" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
					effect="drop" />
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário padrão" />
				<p:calendar pattern="dd/MM/yyyy HH:mm"
					value="#{DataAjaxBean.data}"/>
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário com horário" />
				<p:calendar pattern="HH:mm" timeOnly="true"
					value="#{DataAjaxBean.data}"/>
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário com data hora AM/PM" />
				<p:calendar pattern="dd/MM/yyyy HH:mm a"
					value="#{DataAjaxBean.data}"/>
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário com data hora Segundos" />
				<p:calendar pattern="dd/MM/yyyy HH:mm:ss"
					value="#{DataAjaxBean.data}" stepHour="2" stepMinute="30"
					stepSecond="20"/>
			</h:panelGrid>
			
			<h:panelGrid columns="2">
				<h:outputLabel value="Calendário comercial" />
				<p:calendar pattern="dd/MM/yyyy HH:mm:ss"
					value="#{DataAjaxBean.data}" stepMinute="30"
					stepSecond="20" minHour="8" maxHour="18"/>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
