<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<h:outputScript library="js" name="prime-faces_locale_ptBR.js"/>
		<title>Calendário 6</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="2">
				<h:outputText value="Calendário com botões" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
					showButtonPanel="true"/>
				
				<h:outputText value="Calendário com navegação" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
					navigator="true"/>
				
				<h:outputText value="Calendário com várias paginas" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
					pages="2"/>
					
				<h:outputText value="Calendário com fade" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}" 
					effect="fadeIn"/>
					
				<h:outputText value="Calendário com Slide" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}" 
					effect="slide"/>
					
				<h:outputText value="Calendário com Slide vertical" />
				<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}" 
					effect="slideDown"/>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
