<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui" lang="pt-br"> 

	<h:head>
		<title>Data com Ajax</title>
		<h:outputScript library="js" name="prime-faces_locale_ptBR.js"/>
	</h:head> 
	<h:body>
		<h:form>
			<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
				locale="pt_BR"/>
			<h:outputText value="#{DataAjaxBean.printData()}" id="labelData"/>
			<p:commandButton value="Imprimir Data" update="labelData"/>
		</h:form>
	</h:body> 
</html>
