<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<h:outputScript library="js" name="prime-faces_locale_ptBR.js"/>
		<title></title>
	</h:head> 
	<h:body> 
		<h:form>
			<p:growl id="growl" showDetail="true"/>
			<p:calendar pattern="dd/MM/yyyy" value="#{DataAjaxBean.data}"
				mode="inline" mindate="15/04/2012" maxdate="25/05/2012">
				<p:ajax event="dateSelect"
					listener="#{DataAjaxBean.mostrarMsgMudancaData}"
					update="growl"/>
			</p:calendar>
		</h:form>
	</h:body> 
</html>
