<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Collector</title>
	</h:head> 
	<h:body> 
		 <h:form id="form">
			<p:panel header="Lista de Produtos">
				<h:panelGrid id="grid" columns="2">
					<h:outputLabel value="Nome: " for="txtNome" />
					<p:inputText id="txtNome" required="true"
					value="#{collectorBean.produto.nome}" />
					<h:outputLabel value="Descrição: " for="txtDescricao" />
					<p:inputText id="txtDescricao" required="true"
						value="#{collectorBean.produto.descricao}" />
					<p:commandButton id="btInserir" value="Inserir"
						update="grid produtos" action="#{collectorBean.add}">
						<p:collector value="#{collectorBean.produto}"
							addTo="#{collectorBean.produtos}" />
					</p:commandButton>
				</h:panelGrid>
			</p:panel>
			<p:outputPanel id="produtos">
				<p:dataTable id="produtoDt" value="#{collectorBean.produtos}"
					var="produto">
					<p:column>
						<f:facet name="header">
							<h:outputText value="Nome do Produto" />
						</f:facet>
						<h:outputText value="#{produto.nome}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Descrição do Produto" />
						</f:facet>
						<h:outputText value="#{produto.descricao}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Ação" />
						</f:facet>
						<p:commandButton value="Excluir" update=":form:produtos"
							process=":form:produtos">
							<p:collector value="#{produto}"
								removeFrom="#{collectorBean.produtos}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:outputPanel>
		</h:form>
	</h:body> 
</html>
