<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Carousel Selecao</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<h3>Carousel Select</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto">
				<p:column>
					<h:panelGrid columns="1" cellpadding="4">
						<h:outputText value="Nome: #{produto.nome}" />
					</h:panelGrid>
					<p:commandLink id="cmd" update=":form:detalhesProduto"
						oncomplete="produtoDialog.show()" title="Visualizar">
						<h:outputText value="Selecione" />
						<f:setPropertyActionListener value="#{produto}"
							target="#{carouselBean.produtoSelecionado}" />
					</p:commandLink>
				</p:column>
			</p:carousel>
			<p:dialog id="dialog" header="Detalhes do Produto"
				showEffect="fade" hideEffect="fade" modal="true"
				widgetVar="produtoDialog">
				<p:outputPanel id="detalhesProduto">
					<h:panelGrid columns="1" cellpadding="4">
						<h:outputText value="nome: #{carouselBean.produtoSelecionado.nome}" />
						<h:outputText value="valor: R$#{carouselBean.produtoSelecionado.valor}" />
						<h:outputText value="total de vendas: #{carouselBean.produtoSelecionado.totalVendas}" />
					</h:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</h:body> 
</html>
