<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Carousel Galeria</title>
		<style>
			img {
				width: 400px !important;
				height: 250px !important;
			}
		</style>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<h3>Carousel Galeria</h3>
			<p:carousel pageLinks="4" autoPlayInterval="3000" rows="1"
				effect="easeInStrong" styleClass="carousel"
				circular="true">
				<p:graphicImage value="/resources/images/item1.jpg"/>
				<p:graphicImage value="/resources/images/item2.jpg"/>
				<p:graphicImage value="/resources/images/item3.jpg"/>
				<p:graphicImage value="/resources/images/item4.jpg"/>
				<p:graphicImage value="/resources/images/item5.jpg"/>
				<p:graphicImage value="/resources/images/item6.jpg"/>
			</p:carousel>
			
			<h3>Carousel Galeria Vertical</h3>
			<p:carousel pageLinks="4" autoPlayInterval="3000" rows="1"
				effect="easeInStrong" styleClass="carousel"
				circular="true" vertical="true">
				<p:graphicImage value="/resources/images/item1.jpg"/>
				<p:graphicImage value="/resources/images/item2.jpg"/>
				<p:graphicImage value="/resources/images/item3.jpg"/>
				<p:graphicImage value="/resources/images/item4.jpg"/>
				<p:graphicImage value="/resources/images/item5.jpg"/>
				<p:graphicImage value="/resources/images/item6.jpg"/>
			</p:carousel>
		</h:form>
	</h:body> 
</html>
