<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Carousel</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<h3>Carousel Basic</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto">
				<h:panelGrid columns="1" cellpadding="4">
					<h:outputText value="Nome #{produto.nome}" />
					<h:outputText value="Valor: R$#{produto.valor}" />
					<h:outputText value="Total de Vendas: #{produto.totalVendas}" />
				</h:panelGrid>
			</p:carousel>
			<h3>Carousel Basic with pagination</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto"
				rows="1">
				<h:panelGrid columns="1" cellpadding="4">
					<h:outputText value="Nome #{produto.nome}" />
					<h:outputText value="Valor: R$#{produto.valor}" />
					<h:outputText value="Total de Vendas: #{produto.totalVendas}" />
				</h:panelGrid>
			</p:carousel>
		</h:form>
	</h:body> 
</html>
