<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Carousel Tab</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:carousel	rows="1" itemStyle="width:650px;height:200px;"
				effect="slide">
				<p:tab>
					<h:panelGrid columns="2" cellpadding="8">
						<p:graphicImage value="/resources/images/item1.jpg"
							width="120px"/>
						<h:outputText value="Esse texto refere-se a imagem" />
					</h:panelGrid>
				</p:tab>
				<p:tab>
					<h:panelGrid columns="2" cellpadding="8">
						<p:graphicImage value="/resources/images/item2.jpg"
							width="120px"/>
						<h:outputText value="Esse texto refere-se a imagem 2" />
					</h:panelGrid>
				</p:tab>
				<p:tab>
					<h:panelGrid columns="2" cellpadding="8">
						<p:graphicImage value="/resources/images/item3.jpg"
							width="120px"/>
						<h:outputText value="Esse texto refere-se a imagem 3" />
					</h:panelGrid>
				</p:tab>
			</p:carousel>
		</h:form>
	</h:body> 
</html>
