<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Carousel Effects</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<h3>Carousel Effects Fade</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto"
				effect="fade" effectDuration="2000">
				<h:panelGrid columns="1">
					<h:outputText value="Nome: #{produto.nome}" />
					<h:outputText value="Valor: R$#{produto.valor}" />
					<h:outputText value="Total de vendas: #{produto.totalVendas}" />
				</h:panelGrid>
			</p:carousel>
			
			<h3>Carousel Effects EaseOutBounce</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto"
				easing="easeOutBounce" effectDuration="2000">
				<h:panelGrid columns="1">
					<h:outputText value="Nome: #{produto.nome}" />
					<h:outputText value="Valor: R$#{produto.valor}" />
					<h:outputText value="Total de vendas: #{produto.totalVendas}" />
				</h:panelGrid>
			</p:carousel>
			
			<h3>Carousel Effects Slide</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto"
				effect="slide" effectDuration="1000">
				<h:panelGrid columns="1">
					<h:outputText value="Nome: #{produto.nome}" />
					<h:outputText value="Valor: R$#{produto.valor}" />
					<h:outputText value="Total de vendas: #{produto.totalVendas}" />
				</h:panelGrid>
			</p:carousel>
			
			<h3>Carousel Effects EaseInStrong</h3>
			<p:carousel value="#{carouselBean.produtos}" var="produto"
				effect="easeInStrong" effectDuration="1000">
				<h:panelGrid columns="1">
					<h:outputText value="Nome: #{produto.nome}" />
					<h:outputText value="Valor: R$#{produto.valor}" />
					<h:outputText value="Total de vendas: #{produto.totalVendas}" />
				</h:panelGrid>
			</p:carousel>
		</h:form>
	</h:body> 
</html>
