<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>DataList</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<h2>Grupo 1</h2>
			<h3>DataList type disc</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				itemType="disc" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			<h3>DataList type circle</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				itemType="circle" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			<h3>DataList type square</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				itemType="square" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			
			<h2>Grupo 2</h2>
			<h3>Numeração</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				type="ordered" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			<h3>Letra minúscula</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				type="ordered" itemType="a" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			<h3>Letra maiúscula</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				type="ordered" itemType="A" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			<h3>Algarismos Romanos</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				type="ordered" itemType="i" rows="2">
				#{p.nome}, #{p.valor}
			</p:dataList>
			
			<h2>Grupo 3</h2>
			<h3>Customizado</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				type="definition" rows="2">
				<f:facet name="description">
					Nome: #{p.nome}<br />
					Valor: #{p.valor}<br /><br />
				</f:facet>
			</p:dataList>
			<h3>Customizado com paginação</h3>
			<p:dataList value="#{dataGridBean.produtos}" var="p"
				type="definition" rows="5" paginator="true"
				paginatorTemplate="{PreviousPageLink} {CurrentPageReport} 
					{NextPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="2,3,5">
				<f:facet name="description">
					Nome: #{p.nome}<br />
					Valor: #{p.valor}<br /><br />
				</f:facet>
			</p:dataList>
		</h:form>
	</h:body> 
</html>