<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Data Table</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl id="growl" showDetail="true"/>
			<p:outputPanel id="produtos">
				<p:dataTable value="#{dataGridBean.produtos}" var="p"
					paginator="true" rows="5" paginatorTemplate="
						{PreviousPageLink} {CurrentPageReport}
						{NextPageLink}" rowKey="#{p.id}"
						selection="#{dataGridBean.produtoSelecionado}"
						editable="true">
					<f:facet name="header">Lista de Produtos</f:facet>
					<f:facet name="footer">
						Produtos comercializados pela Devmedia
					</f:facet>
					<p:column style="width:18px;">
						<p:rowToggler />
					</p:column>
					<p:column headerText="Nome" sortBy="#{p.nome}"
						filterBy="#{p.nome}" filterMatchMode="contains">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{p.nome}"/>
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{p.nome}"/>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="Categoria" sortBy="#{p.categoria}"
						filterBy="#{p.categoria}"
						filterOptions="#{dataGridBean.categorias}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{p.categoria}" />
							</f:facet>
							<f:facet name="input">
								<h:selectOneMenu value="#{p.categoria}">
									<f:selectItems var="c" itemLabel="#{categ}"
										value="#{dataGridBean.categorias}"
										itemValue="#{categ}"/>
								</h:selectOneMenu>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="Valor" sortBy="#{p.valor}"
						filterBy="#{p.valor}" filterMatchMode="startsWith">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{p.valor}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{p.valor}"/>
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="Vendas" sortBy="#{p.totalVendas}"
						filterBy="#{p.totalVendas}" filterMatchMode="exact">
						<h:outputText value="#{p.totalVendas}" />
					</p:column>
					<p:column headerText="Ação">
						<p:rowEditor />
					</p:column>
					<p:rowExpansion>
						<p:panelGrid columns="2">
							<h:outputLabel value="Nome" />
							<h:outputText value="#{p.nome}" />
							<h:outputLabel value="Categoria" />
							<h:outputText value="#{p.categoria}" />
						</p:panelGrid>
					</p:rowExpansion>
				</p:dataTable>
			</p:outputPanel>
		</h:form>
	</h:body> 
</html>
