<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Data Grid 1</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:dataGrid value="#{dataGridBean.produtos}" var="p"
				columns="2" rows="4" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink}
					{PreviousPageLink} {PageLinks} {NextPageLink}
					{LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="2,4,6">
				<p:panel header="#{p.nome}">
					<h:panelGrid columns="2">
						<h:outputLabel value="Valor: " />
						<h:outputText value="#{p.valor}" />
						
						<h:outputLabel value="Vendas: " />
						<h:outputText value="#{p.totalVendas}" />
					</h:panelGrid>
				</p:panel>
			</p:dataGrid>
		</h:form>
	</h:body> 
</html>
