<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Data Table</title>
		<style type="text/css">
			.promocao {
				background-color: #FFFF99;
				color: #009900;
			}
		</style>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl id="growl" showDetail="true"/>
			<p:outputPanel id="produtos">
				<p:dataTable value="#{dataGridBean.produtos}" var="p"
					paginator="true" rows="5" paginatorTemplate="
						{PreviousPageLink} {CurrentPageReport}
						{NextPageLink}" rowKey="#{p.id}"
						selection="#{dataGridBean.produtosSelecionados}"
						rowStyleClass="#{p.valor eq 999 ? 'promocao' : ''}">
					<f:facet name="header">Lista de Produtos</f:facet>
					<f:facet name="footer">
						Produtos comercializados pela Devmedia
					</f:facet>
					<p:column selectionMode="multiple" style="width:20px;"/>
					<p:column headerText="Nome" sortBy="#{p.nome}"
						filterBy="#{p.nome}" filterMatchMode="contains">
						<h:outputText value="#{p.nome}" />
					</p:column>
					<p:column headerText="Categoria" sortBy="#{p.categoria}"
						filterBy="#{p.categoria}"
						filterOptions="#{dataGridBean.categorias}">
						<h:outputText value="#{p.categoria}" />
					</p:column>
					<p:column headerText="Valor" sortBy="#{p.valor}"
						filterBy="#{p.valor}" filterMatchMode="startsWith">
						<h:outputText value="#{p.valor}" />
					</p:column>
					<p:column headerText="Vendas" sortBy="#{p.totalVendas}"
						filterBy="#{p.totalVendas}" filterMatchMode="exact">
						<h:outputText value="#{p.totalVendas}" />
					</p:column>
					<p:column headerText="Ação">
						<p:commandButton value="Deletar" update=":form:produtos"
							process=":form:produtos">
							<p:collector value="#{p}" 
								removeFrom="#{dataGridBean.produtos}" />
						</p:commandButton>
					</p:column>
					<f:facet name="footer">
						<p:commandButton id="btSelect2" update=":form:detalhes2"
							oncomplete="produto2.show()" icon="ui-icon ui-icon-search"
							title="Detalhes2" value="Grupo"/>
					</f:facet>
				</p:dataTable>
			</p:outputPanel>
			<p:dialog header="Detalhes do Produto" widgetVar="produto"
				resizable="false" id="produtoDialog" showEffect="fade"
				hideEffect="explode" modal="true">
				<h:panelGrid id="detalhes" columns="2">
					<h:outputLabel value="Nome" />
					<h:outputText
						value="#{dataGridBean.produtoSelecionado.nome}" />
				</h:panelGrid>
			</p:dialog>
			<p:dialog header="Detalhes dos Selecionados" widgetVar="produto2"
				resizable="false" id="produtoDialog2" showEffect="fade"
				hideEffect="explode" modal="true">
				<p:dataList id="detalhes2" var="pSelected" type="definition"
					value="#{dataGridBean.produtosSelecionados}">
					<f:facet name="description">
						Nome do Produto: #{pSelected.nome}, Nome da Categoria: 
						#{pSelected.categoria}
					</f:facet>
				</p:dataList>
			</p:dialog>
		</h:form>
	</h:body> 
</html>
