<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Ajax pool</title>
	</h:head> 
	<h:body>
		<h:form id="form">
			<p:commandButton type="button" value="Iniciar"
				onclick="pollContador.start();pollData.start()"/>
			<p:commandButton type="button" value="Parar"
				onclick="pollContador.stop();pollData.stop()"/>
			<br />
		
			<h:outputText id="txtContador" value="#{poolBean.count}" />
			<br />
			<h:outputText id="txtData" value="#{poolBean.data}" />
			
			<p:poll interval="1" listener="#{poolBean.incrementar()}"
				update="txtContador" autoStart="false"
				widgetVar="pollContador"/>
			<p:poll interval="1" update="txtData" autoStart="false"
				widgetVar="pollData" />
		</h:form>
	</h:body> 
</html>