<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Ajax Validation</title>
	</h:head> 
	<h:body>
		<!-- Ajax Status Simples -->
		<!-- <p:ajaxStatus id="ajaxStatusPanel" style="width:16px; height:16px;">
			<f:facet name="start">
				<h:graphicImage value="/resources/images/loading.gif" />
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>-->
		<!-- Ajax Status customizado -->
		<p:ajaxStatus onstart="statusDialog.show();" onsuccess="statusDialog.hide();"/>
		<p:dialog modal="true" widgetVar="statusDialog" header="Status"
			draggable="false" closable="false">
			<h:graphicImage value="/resources/images/loading.gif" />
		</p:dialog>
		<h:form id="form">
			<p:panel id="panel" header="Cadastro de Funcionário">
			<p:messages id="msgResultado"/>
				<h:panelGrid columns="3">
					<h:outputLabel value="Nome: " for="nome"/>
					<p:inputText id="nome" value="#{funcionarioBean.nome}"
						required="true"/>
					<p:message id="msgValidacaoNome" for="nome"/>
					
					<h:outputLabel value="Função: " for="funcao"/>
					<p:inputText id="funcao" value="#{funcionarioBean.funcao}"
						required="true"/>
					<p:message id="msgValidacaoFuncao" for="funcao"/>
				</h:panelGrid>
				<p:commandButton id="btnSalvar" value="Salvar"
					action="#{funcionarioBean.salvar()}"
					update="@form" global="true"/>
			</p:panel>
		</h:form>
	</h:body> 
</html>
