<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Ajax Simples</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="4" cellpadding="3">
				<h:outputLabel value="Nome:" />
				<h:inputText id="nome" value="#{nomeBean.nome}" />
				<p:commandButton value="Enviar" update="resultado"/>
				<h:outputText id="resultado" value="#{nomeBean.nome}" />
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
