<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Context Menu</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl id="mensagem"/>
			<p:contextMenu>
				<p:menuitem value="Acessar WIFI" update="mensagem"
					icon="ui-icon ui-icon-signal-diag"
					actionListener="#{botaoDireitoBean.acessarWIFI}" />
				<p:menuitem value="Salvar" update="mensagem"
					actionListener="#{botaoDireitoBean.salvar}"
					icon="ui-icon ui-icon-disk" ajax="false" />
			</p:contextMenu>
		</h:form>
	</h:body> 
</html>