<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Context Menu com Galeria</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl id="growl" showDetail="false" autoUpdate="true"/>
			<p:imageSwitch effect="fade" id="images" widgetVar="gallery"
				slideshowAuto="false" style="width:400px;">
				<p:graphicImage value="/resources/images/item1.jpg"/>
				<p:graphicImage value="/resources/images/item2.jpg"/>
				<p:graphicImage value="/resources/images/item3.jpg"/>
				<p:graphicImage value="/resources/images/item4.jpg"/>
			</p:imageSwitch>
			
			<p:contextMenu for="images">
				<p:menuitem value="Anterir" onclick="gallery.previous()"
					icon="ui-icon-triangle-1-w"/>
				<p:menuitem value="Próximo" onclick="gallery.next()"
					icon="ui-icon-triangle-1-e"/>
				<p:menuitem value="Enviar para o servidor"
					actionListener="#{contextMenuGalleryBean.enviar}"/>
			</p:contextMenu>
		</h:form>
	</h:body> 
</html>
