<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Efeitos</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="5">
				<p:panel header="Blind">
					<h:outputText value="click" />
					<p:effect event="click" type="blind">
						<f:param name="direction" value="'horizontal'" />
					</p:effect>
				</p:panel>
				
				<p:panel header="Blind">
					<h:outputText value="double click" />
					<p:effect event="dblclick" type="blind">
						<f:param name="direction" value="'horizontal'" />
					</p:effect>
				</p:panel>
				
				<p:panel header="Blind">
					<h:outputText value="mouse over" />
					<p:effect event="mouseover" type="blind">
						<f:param name="direction" value="'horizontal'" />
					</p:effect>
				</p:panel>
				
				<p:panel header="Clip">
					<h:outputText value="click" />
					<p:effect event="click" type="blind">
						<f:param name="direction" value="'horizontal'" />
					</p:effect>
				</p:panel>
				
				<p:panel header="Clip">
					<h:outputText value="double click" />
					<p:effect event="dblclick" type="blind">
						<f:param name="direction" value="'horizontal'" />
					</p:effect>
				</p:panel>
				
				<p:panel header="Clip">
					<h:outputText value="mouse over" />
					<p:effect event="mouseover" type="blind">
						<f:param name="direction" value="'horizontal'" />
					</p:effect>
				</p:panel>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>