<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Effect Explode</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="5">
				<p:panel header="Explode">
					<h:outputText value="Clique" />
					<p:effect event="click" type="explode" speed="500"/>
				</p:panel>
				<p:panel header="Explode">
					<h:outputText value="Duplo Clique" />
					<p:effect event="dblclick" type="explode"/>
				</p:panel>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
