<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Efeito Pulsate Shake and Size</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="5">
				<p:panel header="Pulsate">
					<h:outputText value="Clique" />
					<p:effect event="click" type="pulsate" speed="500"/>
				</p:panel>
				<p:panel header="Shake">
					<h:outputText value="Clique" />
					<p:effect event="click" type="shake" speed="200"/>
				</p:panel>
				<p:panel header="Size">
					<h:outputText value="Clique" />
					<p:effect event="click" type="size" speed="500">
						<f:param name="to" value="{width:250, height:70}"/>
					</p:effect>
				</p:panel>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
