<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Effect Scale And Bounce</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="5">
				<p:panel header="Scale">
					<h:outputText value="Clique" />
					<p:effect event="click" type="scale">
						<f:param name="percent" value="80"/>
					</p:effect>
				</p:panel>
				<p:panel header="Bounce">
					<h:outputText value="Clique" />
					<p:effect event="click" type="bounce" speed="100"/>
				</p:panel>
			</h:panelGrid>
		</h:form>
	</h:body> 
</html>
