<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Effect Slide</title>
	</h:head> 
	<h:body> 
		<h:form>
			<h:panelGrid columns="5">
				<input type="button" id="btExibir" value="Exibir"/>
				<p:panel header="Slide" styleClass="pnlSlideClique" 
					style="display:none;">
					<h:outputText value="Clique" />
					<p:effect event="click" type="slide"/>
				</p:panel>
			</h:panelGrid>
		</h:form>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#btExibir').click(function() {
					$('div[class*="pnlSlideClique"]').click();
				});
			});
		</script>
	</h:body> 
</html>