<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Drag Clone</title>
	</h:head> 
	<h:body> 
		<h:form>
			<p:panel id="painel" header="Painel Clone">
				<h:outputText value="Esse é o painel mais simples com 
					recurso drag clone" />
			</p:panel>
			<p:draggable for="painel" helper="clone"/>
		</h:form>
	</h:body> 
</html>