<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Drag Drop Grid</title>
	</h:head> 
	<h:body> 
		<h:form>
			<p:panel id="panelMovGrid" header="Painel com Mov Grid"
				style="width:300px; height:150px;">
				<h:outputText value="Esse painel irá se mover baseado
					em uma configuração de grid" />
			</p:panel>
			<p:draggable for="panelMovGrid" grid="50,50" />
		</h:form>
	</h:body> 
</html>
