<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Drag Drop Area Restrict</title>
	</h:head> 
	<h:body> 
		<h:form>
			<p:outputPanel layout="block" style="width:500px; height:300px;
				border: 2px solid;">
				<p:panel id="pnlAreaRestrita" header="Area Restrita"
					style="width:200px;">
					<h:outputText value="Esse panel só será arrastado dentro
						de uma area restrita" />
				</p:panel>
			</p:outputPanel>
			<p:draggable for="pnlAreaRestrita" containment="parent" />
		</h:form>
	</h:body> 
</html>