<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Drag Drop Cars</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:fieldset legend="Carros Disponíveis">
				<p:dataGrid id="carrosDisponiveis" var="carro"
					value="#{carroBean.carros}" columns="4"
					emptyMessage="Vazio :(">
					<p:column>
						<p:panel id="pnlCarroDisponivel" header="#{carro.nome}">
							<h:panelGrid columns="1">
								<h:outputText value="#{carro.ano}" />
							</h:panelGrid>
						</p:panel>
					</p:column>
					<p:draggable for="pnlCarroDisponivel" revert="true"
						handle=".ui-panel-titlebar"/>
				</p:dataGrid>
			</p:fieldset>
			<p:fieldset id="carrosSelecionados" legend="Carros Selecionados">
				<p:outputPanel id="areaDestino">
					<h:outputText value="Arraste e solte aqui"
						rendered="#{empty carroBean.selecionados}"
						style="font-size:20px;"/>
						<p:dataTable var="carro" 
							value="#{carroBean.selecionados}"
							rendered="#{not empty carroBean.selecionados}">
							<p:column headerText="Nome">
								<h:outputText value="#{carro.nome}" />
							</p:column>
							<p:column headerText="Ano">
								<h:outputText value="#{carro.ano}" />
							</p:column>
							<p:column headerText="Caracteristicas">
								<h:outputText 
									value="#{carro.caracteristicas}" />
							</p:column>
						</p:dataTable>
				</p:outputPanel>
			</p:fieldset>
			<p:droppable for="carrosSelecionados" tolerance="touch"
				datasource="carrosDisponiveis" onDrop="tratarDrop"
				activeStyleClass="ui-state-highlight">
				<p:ajax listener="#{carroBean.onSelecionado}"
					update="carrosDisponiveis areaDestino"/>
			</p:droppable>
		</h:form>
		<script type="text/javascript">
			function tratarDrop(event, ui) {
				var carroSelecionado = ui.draggable;
				carroSelecionado.fadeOut('normal');
			}
		</script>
	</h:body> 
</html>