<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Gráfico Linha</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:lineChart id="candidatosPesquisa"
				value="#{linhaBean.linhaModel}"
				legendPosition="e" title="Resultado Pesquisa"
				minY="0" maxY="100" style="height:300px;">
				
			</p:lineChart>
		</h:form>
	</h:body> 
</html>
