<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Gráfico Pizza</title>
	</h:head> 
	<h:body>
		<h:form id="form">
			<p:pieChart id="candidatosPizza"
				value="#{PizzaBean.pizzaModel}"
				legendPosition="w" title="Resultado pesquisa Candidatos"
				style="width:500px;height:350px;"
				sliceMargin="10" showDataLabels="true" fill="false">
			</p:pieChart>
		</h:form>
	</h:body> 
</html>
