<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Dialog</title>
	</h:head>
	<h:body> 
		<h:form id="form">
			<h:panelGrid columns="1">
				<p:commandButton id="simples" value="Simples"
					onclick="dialogo1.show()" type="button"/>
				<p:commandButton id="modalDialogoButton" value="Modal"
					onclick="dialogo2.show()" type="button"/>
				<p:commandButton id="efeitoDialogoButton" value="Efeito"
					onclick="dialogo3.show()" type="button"/>
			</h:panelGrid>
			<p:dialog id="simplesDialog" header="Simples Dialog"
				widgetVar="dialogo1" resizable="false">
				<h:outputText value="Minha primeira dialog com primefaces" />
			</p:dialog>
			<p:dialog id="modalDialog" header="Modal Dialog" modal="true"
				widgetVar="dialogo2" resizable="false">
				<h:outputText value="Minha primeira dialog com modal" />
			</p:dialog>
			<p:dialog id="efeitoDialog" header="Efeito Dialog"
				widgetVar="dialogo3" showEffect="fade" hideEffect="explode"
				resizable="false" modal="true">
				<h:outputText value="Minha primeira dialog com efeito." />
			</p:dialog>
		</h:form>
	</h:body> 
</html>
