<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Dialog com ajax</title>
	</h:head> 
	<h:body> 
		<h:outputText value="Você não tem permissão, efetue login!" />
		<p:commandButton id="btLogin" value="Logar" type="button"
			onclick="dialogoLogin.show()"/>
		<p:dialog header="Efetue Login" widgetVar="dialogoLogin"
			resizable="false" modal="true">
			<h:form id="form">
				<h:panelGrid columns="2">
					<h:outputLabel value="Login: " for="txtLogin"/>
					<p:inputText id="txtLogin" value="#{usuarioBean.name}"/>
					<h:outputLabel value="Senha: "/>
					<p:inputText id="txtSenha" value="#{usuarioBean.password}"
						type="password"/>
				</h:panelGrid>
				<p:commandButton id="btEnviar" value="Enviar"
					update=":dadosLogin" oncomplete="dialogoLogin.hide()"/>
			</h:form>
		</p:dialog>
		<p:outputPanel id="dadosLogin">
			<h:outputText id="result" value="Você esta autenticado com o 
				login: #{usuarioBean.name} e senha: #{usuarioBean.password}" />
		</p:outputPanel>
	</h:body> 
</html>
