<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Dialog Authentication</title>
	</h:head> 
	<h:body>
		<p:growl id="growl" showDetail="true" life="5000"/>
		<h:outputLink id="loginLnk" value="javascript:void(0)"
			onclick="dialogoAuth.show()" title="Login">
			Autenticar
		</h:outputLink>
		<p:dialog id="dialog" header="Login" widgetVar="dialogoAuth"
			modal="true" minimizable="true" maximizable="true">
			<h:form id="form">
				<p:messages id="messages"/>
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel value="Login: " for="login" />
					<p:inputText id="login" value="#{loginBean.name}"
						required="true" label="usuario"/>
					<h:outputLabel value="Senha: " for="password" />
					<p:inputText id="password" value="#{loginBean.password}"
						required="true" label="senha" type="password"/>
					<f:facet name="footer">
						<p:commandButton id="btLogin" value="Login"
							actionListener="#{loginBean.login}"
							update=":growl"
							oncomplete="tratarRequisicaoLogin(xhr, status, args)"/>
					</f:facet>
				</h:panelGrid>
			</h:form>
		</p:dialog>
		<script type="text/javascript">
			function tratarRequisicaoLogin(xhr, status, args) {
				if (!args.logado) {
					jQuery("#dialog").effect("shake", {
						times: 3
					}, 50);
				} else {
					dialogoAuth.hide();
					jQuery("#loginLnk").fadeOut();
				}
			}
		</script>
	</h:body> 
</html>