<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>According</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl id="growl" showDetail="true"/>
			<p:accordionPanel dynamic="true">
				<p:ajax event="tabChange" update=":form:growl"
					listener="#{accordionBean.onTabChange}"/>
				<p:tab title="Novidades Visual Studio">
					<h:panelGrid cellpadding="10">
						<h:outputText value="Microsoft Lança Visual Studio
							2012 RC com novo layout." />
					</h:panelGrid>
					<h:outputText value="#{poolBean.data}" />
				</p:tab>
				<p:tab title="Novidades Devmedia">
					<h:panelGrid cellpadding="10">
						<h:outputText value="Devmedia reabre canal com
							aulas de Infra." />
					</h:panelGrid>
					<h:outputText value="#{poolBean.data}" />
				</p:tab>
				<p:tab title="Novidades Windows Phone">
					<h:panelGrid cellpadding="10">
						<h:outputText value="Microsoft Phone 7.5." />
					</h:panelGrid>
					<h:outputText value="#{poolBean.data}" />
				</p:tab>
			</p:accordionPanel>
		</h:form>
	</h:body> 
</html>
