<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Auto Complete</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:panel header="AutoComplete Simples" toggleable="true">
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel value="Cliente" />
					<p:autoComplete id="acClientes"
						value="#{autoCompleteBean.cliente}"
						completeMethod="#{autoCompleteBean.complete}"/>
					<p:commandButton value="Imprimir"
						update="displayCliente"/>
					<h:panelGrid id="displayCliente" columns="2">
						<h:outputLabel value="cliente: "/>
						<h:outputText value="#{autoCompleteBean.cliente}" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
			
			<p:panel header="AutoComplete aumentando tempo da consulta"
				toggleable="true">
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel value="Cliente" />
					<p:autoComplete id="acClientes2"
						value="#{autoCompleteBean.cliente}"
						completeMethod="#{autoCompleteBean.complete}"
						queryDelay="1000"/>
					<p:commandButton value="Imprimir"
						update="displayCliente2"/>
					<h:panelGrid id="displayCliente2" columns="2">
						<h:outputLabel value="cliente: " />
						<h:outputText value="#{autoCompleteBean.cliente}" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
			
			<p:panel header="AutoComplete tamanho minimo" toggleable="true">
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel value="Cliente" />
					<p:autoComplete id="acClientes3"
					value="#{autoCompleteBean.cliente}"
					completeMethod="#{autoCompleteBean.complete}"
					minQueryLength="2"/>
					<p:commandButton value="Imprimir"
						update="displayCliente3"/>
					<h:panelGrid id="displayCliente3" columns="2">
						<h:outputLabel value="cliente: " />
						<h:outputText value="#{autoCompleteBean.cliente}" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
			
			<p:panel header="AutoComplete forçando seleção" toggleable="true">
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel value="Cliente" />
					<p:autoComplete id="acCliente4"
						value="#{autoCompleteBean.cliente}"
						completeMethod="#{autoCompleteBean.complete}"
						forceSelection="true"/>
					<p:commandButton value="Imprimir"
						update="displayCliente4"/>
					<h:panelGrid id="displayCliente4" columns="2">
						<h:outputLabel value="cliente: " />
						<h:outputText value="#{autoCompleteBean.cliente}" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
		
			<p:panel header="Auto Complete com DropDownList" toggleable="true">
				<h:panelGrid columns="2" cellpadding="3">
					<h:outputLabel value="Cliente" />
					<p:autoComplete id="acClientes5"
						value="#{autoCompleteBean.cliente}"
						completeMethod="#{autoCompleteBean.complete}"
						dropdown="true"/>
					<p:commandButton value="Imprimir"
						update="displayCliente5"/>
					<h:panelGrid id="displayCliente5" columns="2">
						<h:outputLabel value="cliente: " />
						<h:outputText value="#{autoCompleteBean.cliente}" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</h:body> 
</html>