<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Auto Complete Avançado</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<h3>Auto Complete Multipla Seleção</h3>
			<p:autoComplete multiple="true"
				value="#{autoCompleteBeanAvancado.contatosSelecionados}"
				completeMethod="#{autoCompleteBeanAvancado.complete}"/>
			<p:commandButton id="submit" value="Submit"
				update="display" oncomplete="txtDialog.show()"/>
			<p:dialog modal="true" widgetVar="txtDialog" showEffect="fade"
				width="250" resizable="false" header="Emails Selecionados">
				<p:outputPanel id="display">
					<p:dataList var="email" id="emails"
						value="#{autoCompleteBeanAvancado.contatosSelecionados}">
						<f:facet name="header">Emails</f:facet>
						<h:outputText value="#{email}" id="email" />
					</p:dataList>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</h:body> 
</html>
