<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>block UI</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl id="growl"/>
			<h3>Simples BlockUI</h3>
			<p:panel id="pnl" header="Novo Cliente">
				<h:panelGrid columns="3">
					<h:outputLabel value="Nome" for="nome" />
					<p:inputText id="nome" value="#{clienteBean.nome}"
						required="true" label="Nome"/>
					<p:message for="nome"/>
					
					<h:outputLabel value="Cargo" for="cargo" />
					<p:inputText id="cargo" value="#{clienteBean.cargo}"
						required="true" label="Cargo"/>
					<p:message for="cargo"/>
				</h:panelGrid>
				<p:commandButton id="btInserir" value="Inserir"
					actionListener="#{clienteBean.inserir}"
					update="growl"/>
			</p:panel>
			<p:blockUI block="pnl" trigger="btInserir"/>
		</h:form>
	</h:body> 
</html>
