<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head>
		<title>Button Destino</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			Chegou aqui!
			<f:metadata>
				<f:viewParam name="codEnvio" value="#{codigoBean.codEnvio}">
				</f:viewParam>
			</f:metadata>
			
			O valor informado por parametro foi <strong>#{codigoBean.codEnvio}</strong>
		</h:form>
	</h:body> 
</html>
