<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Captcha</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:messages showDetail="true"/>
			<p:captcha label="Captcha" theme="white"/>
			<p:commandButton value="Check" ajax="false"
				actionListener="#{captchaBean.enviar}"/>
		</h:form>
	</h:body> 
</html>
