<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Contatos</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:growl showDetail="true"/>
			<p:panel header="Contatos">
				<h:panelGrid columns="2">
					<h:outputLabel value="Nome:" for="txtNome"/>
					<p:inputText value="#{contatoBean.contato.nome}"
						id="txtNome" required="true"/>
					<h:outputLabel value="Cidade:" for="txtCidade" />
					<p:inputText value="#{contatoBean.contato.cidade}"
						id="txtCidade" required="true"/>
					<p:commandButton value="Inserir Contato"
						action="#{contatoBean.inserirContato()}"
						update="@form"/>
				</h:panelGrid>
			</p:panel>
			<p:dataTable id="gridContatos" value="#{contatoBean.contatos}"
				var="obj" emptyMessage="Nenhum registro encontrato!">
				<p:column>
					<f:facet name="header">
						<h:outputLabel value="Nome" />
					</f:facet>
					<h:outputText value="#{obj.nome}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputLabel value="Cidade" />
					</f:facet>
					<h:outputText value="#{obj.cidade}" />
				</p:column>
			</p:dataTable>
		</h:form>
	</h:body> 
</html>
