<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>HTML Editor</title>
	</h:head> 
	<h:body> 
		<h:form id="form">
			<p:editor id="editor" value="#{editorBean.conteudo}" width="500"
				height="300" widgetVar="editor"/>
			<h:panelGrid columns="2">
				<p:commandButton id="btnEnviar" value="Enviar"
					update="conteudo" oncomplete="digResultado.show()" />
				<p:commandButton id="btnLimpar" value="Limpar"
					onclick="editor.clear()"/>
			</h:panelGrid>
			<p:dialog header="Resultado" widgetVar="digResultado"
				showEffect="fade" hideEffect="fade" modal="true">
				<h:outputText id="conteudo" value="#{editorBean.conteudo}"
					escape="false" />
			</p:dialog>
		</h:form>
	</h:body> 
</html>
