<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>File Upload</title>
	</h:head> 
	<h:body> 
		<h:form enctype="multipart/form-data">
			<p:fileUpload value="#{fileUploadBean.file}" mode="simple"/>
			<p:commandButton value="Enviar" action="#{fileUploadBean.send()}"
				ajax="false"/>
		</h:form>
		<p:growl id="growl" showDetail="true"/>
	</h:body> 
</html>