<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>Hello World PrimeFaces</title>
	</h:head>
	<h:body>
		<h:form>
			<h:panelGrid columns="2">
				<h:outputLabel value="Data" />
				<p:calendar value="#{dataBean.data}" pattern="dd/MM/yyyy" />
			</h:panelGrid>
			<h:commandButton value="Ok" action="#{dataBean.printData()}" />
		</h:form>
	</h:body>
</html>
