<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<title>Menu Dock</title>
	</h:head> 
	<h:body> 
		<h:form>
			<p:dock>
				<p:menuitem value="Home" url="#"
					icon="/resources/images/home.png"/>
				<p:menuitem value="Musica" url="#"
					icon="/resources/images/music.png"/>
				<p:menuitem value="Download" url="#"
					icon="/resources/images/download.png"/>
				<p:menuitem value="Adicionar" url="#"
					icon="/resources/images/add_user.png"/>
				<p:menuitem value="Sair" url="#"
					icon="/resources/images/exit.png"/>
			</p:dock>
		</h:form>
	</h:body> 
</html>